html{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
*,
*:before,
*:after{
    box-sizing: inherit;
}

.container:after,
.container:before,
.row:after,
.row:before{
    content: "";
    display: table;
}

.container:after,
.row:after,
.clearfix{
    clear: both;
}

body{
    border: 2px solid black;
    width: 100%;
}

/**▬▬▬▬ஜ۩۞۩ஜ▬▬­­­­­­­­­▬▬▬**­/
      MOBILE DEVICE
/**▬▬▬▬ஜ۩۞۩ஜ▬▬­­­­­­­­­▬▬▬**/

@media only screen and (min-width: 320px){
   
}